<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http</key>
	<string>WebViewController</string>
	<key>https</key>
	<string>WebViewController</string>
	<key>ZHTest</key>
	<dict>
		<key>ZHTest://CAMvc</key>
		<string>ZHCamViewController</string>
		<key>ZHTest://SDKvc</key>
		<string>ZHSDKTestViewController</string>
		<key>ZHTest://Extentionvc</key>
		<string>ZHExtentionViewController</string>
		<key>ZHTest://viewmodelvc</key>
		<string>ZHViewModelController</string>
		<key>ZHTest://realmvc</key>
		<string>ZHRealViewController</string>
		<key>ZHTest://citylist</key>
		<string>CityListViewController</string>
		<key>ZHTest://clickvc</key>
		<string>ClickViewController</string>
		<key>ZHTest://zipvc</key>
		<string>ZipViewController</string>
		<key>ZHTest://testvc</key>
		<string>ZHTestViewController</string>
		<key>ZHTest://bluetoothvc</key>
		<string>ZHBluetoothViewController</string>
	</dict>
</dict>
</plist>
